.site-logo img {
  width: 100px;
  height: 100px;
}

.wrapper {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

































































































